@import url(https:fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One|BenchNine);
/* ----------------------- *\
   SECTION-TOTAL
\* ----------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 760px;
  font-family: Arial, sans-serif;
  font-size: 100%;
}
body > div {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
/* ----------------------- *\
   SECTION-MAIN
\* ----------------------- */
main {
  margin-top: 1rem;
}
main .wrapper {
  padding: 0 4%;
}
nav {
  text-align: center;
}
nav ul {
  width: 100%;
  list-style-type: none;
}
nav li {
  float: right;
  overflow: hidden;
  margin-left: 4%;
  line-height: 4rem;
  font-size: 1.1rem;
  font-weight: 700;
}
nav li a {
  text-decoration: none;
}
nav li,
nav li > a {
  color: #2d1d1d;
}
nav div {
  clear: both;
}
nav img {
  width: 280px;
  height: auto;
}
section {
  overflow: hidden;
}
.header {
  border-bottom: 2px solid;
  overflow: hidden;
}
.header div {
  position: relative;
  top: 1px;
  float: right;
  width: 281px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: right;
}
.header h2 {
  position: relative;
  top: 4px;
  display: inline-block;
  width: 230px;
  line-height: 48px;
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
  color: #fffbfb;
}
.latest-design .header {
  border-bottom-color: #c0d25c;
  margin-bottom: 15px;
}
.latest-design .header div {
  background-image: url('../img/design.png');
}
.latest-design .header h2 {
  text-transform: none;
}
.intro {
  margin-bottom: 40px;
  text-align: center;
}
.intro img {
  width: 95%;
  height: auto;
}
.intro p {
  padding: 1em 8%;
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  text-align: left;
}
@media screen and (min-width: 920px) {
  .intro p {
    font-size: 1.5rem;
  }
}
.retro-rustic {
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 1rem;
  color: #444243;
}
.retro-rustic .header {
  border-bottom-color: #444243;
  margin-bottom: 5px;
}
.retro-rustic .header div {
  background-image: url('../img/rustic.png');
}
.retro-rustic img {
  position: relative;
  top: 5px;
  width: 20px;
  height: auto;
}
.retro-rustic span {
  line-height: 150%;
}
.retro-rustic span:last-child {
  line-height: 90%;
}
/* ----------------------- *\
   SECTION-FOOTER 
\* ----------------------- */
footer {
  height: 100px;
  padding-top: 10px;
  background-color: #444243;
  text-align: center;
}
footer img {
  width: 80px;
  height: auto;
}
