@import url(https:fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One|BenchNine);
/* ----------------------- *\
   SECTION-TOTAL
\* ----------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 760px;
  font-family: Arial, sans-serif;
  font-size: 100%;
}
body > div {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
/* ----------------------- *\
   SECTION-MAIN
\* ----------------------- */
main {
  margin-top: 1rem;
  padding: 0 4%;
}
nav {
  text-align: center;
}
nav ul {
  width: 100%;
  list-style-type: none;
}
nav li {
  float: right;
  overflow: hidden;
  margin-left: 4%;
  line-height: 4rem;
  font-size: 1.1rem;
  font-weight: 700;
}
nav li a {
  text-decoration: none;
}
nav li,
nav li > a {
  color: #2d1d1d;
}
nav div {
  clear: both;
}
nav img {
  width: 280px;
  height: auto;
}
section {
  margin-bottom: 50px;
  overflow: hidden;
}
.header {
  border-bottom: 2px solid;
  overflow: hidden;
  margin-bottom: 30px;
}
.header div {
  position: relative;
  top: 1px;
  float: right;
  width: 281px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: right;
}
.header h2 {
  position: relative;
  top: 4px;
  display: inline-block;
  width: 230px;
  line-height: 48px;
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
  color: #fffbfb;
}
.latest-design .header {
  border-bottom-color: #c0d25c;
}
.latest-design .header div {
  background-image: url('../img/design.png');
}
.latest-design .header h2 {
  text-transform: none;
}
.latest-design .wrapper {
  padding-left: 10.7%;
  padding-right: 10.7%;
  margin-bottom: 1.3rem;
}
.latest-design .wrapper:nth-child(2) {
  border-bottom: 2px solid #c0d25c;
}
.latest-design .contact-us {
  margin-bottom: 1rem;
}
.latest-design .sprite {
  display: inline-block;
  background-image: url("../img/sprite-contact.png");
}
.latest-design .name {
  font-size: 2rem;
  font-weight: 900;
  color: #c0d25c;
}
.latest-design .position {
  margin-left: 6em;
  font-size: 1rem;
  font-weight: 700;
  color: #2d1d1d;
}
.latest-design .call {
  margin-top: 0.3rem;
}
.latest-design .call div {
  background-position: 75px 0;
  width: 30px;
  height: 40px;
  margin-right: 1.7rem;
  position: relative;
  top: 0.6em;
}
.latest-design .mail {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.latest-design .mail div {
  position: relative;
  top: 4px;
  width: 40px;
  height: 27px;
  margin-right: 1.2rem;
  background-position: 40px 0;
}
.latest-design .contacts {
  font-size: 1.5rem;
  color: #2d1d1d;
}
.latest-design .social {
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}
.latest-design .social a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #c0d25c;
}
.latest-design .social div {
  position: relative;
  top: 1em;
  width: 50px;
  height: 50px;
  margin: 0 6% 0 2%;
}
.latest-design .social .twee {
  background-position: -1px -1px;
}
.latest-design .social .follow {
  background-position: -53px -1px;
}
.latest-design .social .like {
  background-position: -105px -1px;
}
.retro-rustic {
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 1rem;
  color: #444243;
}
.retro-rustic .header {
  border-bottom-color: #444243;
  margin-bottom: 5px;
}
.retro-rustic .header div {
  background-image: url('../img/rustic.png');
}
.retro-rustic img {
  position: relative;
  top: 5px;
  width: 20px;
  height: auto;
}
.retro-rustic span {
  line-height: 150%;
}
.retro-rustic span:last-child {
  line-height: 90%;
}
/* ----------------------- *\
   SECTION-FOOTER 
\* ----------------------- */
footer {
  height: 100px;
  padding-top: 10px;
  background-color: #444243;
  text-align: center;
}
footer img {
  width: 80px;
  height: auto;
}
